In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('orders.csv')

In [3]:
df

,date,vendor_id,chain_id,city_id,spec,successful_orders,fail_orders
0,2019-07-02,40065,7501,23,Суши,54.0,1.0
1,2019-08-27,48058,33226,23,Шаурма,0.0,0.0
2,2019-09-25,35430,26220,25,Пицца,2.0,0.0
3,2019-09-21,56553,38601,23,Шашлыки,1.0,0.0
4,2019-09-21,43919,30984,25,Суши,6.0,0.0
...,...,...,...,...,...,...,...
96113,2019-08-18,44315,31154,24,Суши,2.0,0.0
96114,2019-06-15,17528,11182,25,Пицца,11.0,1.0
96115,2019-08-19,45351,31679,23,Вьетнамская,1.0,0.0
96116,2019-09-26,64209,42525,25,Суши,7.0,0.0
96117,2019-09-06,34676,25567,26,Итальянская,1.0,0.0

In [14]:
cities_count = df['city_id'].nunique()

In [15]:
cities_count

4

In [26]:
fish_spec_count = df.loc[df['spec'] == "Рыба", ['vendor_id']].count()

In [27]:
fish_spec_count

vendor_id    1103
dtype: int64

In [30]:
df.dtypes

date                  object
vendor_id              int64
chain_id               int64
city_id                int64
spec                  object
successful_orders    float64
fail_orders          float64
dtype: object

In [33]:
df.loc[(df['vendor_id'] == 40065) & (df['successful_orders'] < 20), ['date']].count()

date    45
dtype: int64

In [34]:
vendors_count = df['vendor_id'].nunique()

In [35]:
vendors_count

1537

In [55]:
fish = df.query('spec == "Рыба"').groupby('vendor_id', as_index=False).agg({'spec': 'count'})

In [56]:
fish

    vendor_id  spec
0        7201   119
1       14558   121
2       15888   112
3       16780    63
4       25401    72
5       29161    49
6       31802   103
7       32849   106
8       38817     5
9       42795   106
10      45071   102
11      45360    29
12      49766    30
13      59805     5
14      62671     6
15      68929    32
16      70218    14
17      70545    29