In [1]:
import sqlite3
import pandas as pd

In [86]:
connection = sqlite3.connect("my_online_store.db")

In [87]:
cursor = connection.cursor()

In [88]:
query1 = """select * from orders;"""

In [89]:
df_orders = pd.read_sql_query(query1, connection)

In [90]:
df_orders

    order_id  order_date  product_id  quantity  total_price
0          1  2023-07-13          24         9      3726.45
1          2  2023-02-08          75         1       182.71
2          3  2023-02-14           6         6      2879.58
3          4  2023-10-07          16         7      2218.37
4          5  2023-02-03         100        10      3540.80
5          6  2023-12-03          39         3       752.40
6          7  2023-02-26          10         9      3340.44
7          8  2023-02-11          80         4      1720.96
8          9  2023-09-02          72         6      1834.56
9         10  2023-10-11          33         6      1809.12
10        11  2023-03-23          39         5      1254.00
11        12  2023-03-28          96         8      1237.36
12        13  2023-05-06          73         3       978.15
13        14  2023-07-03          32         6      1147.68
14        15  2023-04-26          71         2       438.52
15        16  2023-01-15          42         3      1160.16
16        17  2023-04-24          19         2       796.72
17        18  2023-06-06          99         5      1336.75
18        19  2023-12-02           3         6       264.72
19        20  2023-08-21          62         8      1885.92
20        21  2023-11-11          44         7       837.41
21        22  2023-05-26          66        10      3132.90
22        23  2023-07-15          55         7       170.17
23        24  2023-05-11          41         5      1117.20
24        25  2023-09-13          72         2       611.52
25        26  2023-12-05          89         2       877.48
26        27  2023-08-23          45         3       431.91
27        28  2023-08-01          51         2       668.22
28        29  2023-02-02           2         3      1028.73
29        30  2023-08-04          23         1       314.41
30        31  2023-02-01          80         1       430.24
31        32  2023-12-09          16         7      2218.37
32        33  2023-11-11          19         1       398.36
33        34  2023-11-15          75         3       548.13
34        35  2023-08-18          12         1       113.02
35        36  2023-06-12           2         3      1028.73
36        37  2023-04-13          96        10      1546.70
37        38  2023-10-28          71         7      1534.82
38        39  2023-07-07          53         2       294.42
39        40  2023-08-26          98         6      2610.84
40        41  2023-04-25          10         3      1113.48
41        42  2023-03-02          50         2       190.54
42        43  2023-07-01          87         7      1988.63
43        44  2023-08-20          66         2       626.58
44        45  2023-11-01          40         8      3985.84
45        46  2023-01-13          53         8      1177.68
46        47  2023-08-08          63         9      2812.32
47        48  2023-06-24          41         9      2010.96
48        49  2023-11-25          81         2       247.74
49        50  2023-12-07          42         2       773.44
50        51  2023-03-03          67         7      2252.46
51        52  2023-08-03          90         5      2155.90
52        53  2023-01-14          96         3       464.01
53        54  2023-11-06          33         5      1507.60
54        55  2023-01-15           9         3      1154.88
55        56  2023-04-11          94         1       406.72
56        57  2023-01-28           7         1       171.67
57        58  2023-05-13          84         9       399.24
58        59  2023-04-28          16         4      1267.64
59        60  2023-08-08          23         4      1257.64
60        61  2023-12-22          34         3       641.58
61        62  2023-01-11          64         8      3969.68
62        63  2023-03-08          40         3      1494.69
63        64  2023-04-19          62         8      1885.92
64        65  2023-04-07          26         5      2179.15
65        66  2023-10-11          43         5       604.10
66        67  2023-03-17          75        10      1827.10
67        68  2023-03-10          47         5      2093.80
68        69  2023-09-14          20         3      1488.63
69        70  2023-12-03           2        10      3429.10
70        71  2023-02-04          53         3       441.63
71        72  2023-04-10          34         8      1710.88
72        73  2023-06-12          79         2       950.58
73        74  2023-02-24          18         5       116.45
74        75  2023-12-04          54         2       491.74
75        76  2023-06-20          27         8      3138.48
76        77  2023-03-27          54         3       737.61
77        78  2023-11-23          87         5      1420.45
78        79  2023-10-05          87         6      1704.54
79        80  2023-10-18          65         6      1047.48
80        81  2023-02-24          62         3       707.22
81        82  2023-03-24          90         1       431.18
82        83  2023-09-26          97         5      1899.75
83        84  2023-02-12          80         5      2151.20
84        85  2023-12-20           4         1        15.49
85        86  2023-10-21          85         2       927.70
86        87  2023-10-07          88         4      1398.64
87        88  2023-04-26          98        10      4351.40
88        89  2023-05-16          31        10      4973.90
89        90  2023-05-21          45         5       719.85
90        91  2023-10-13          44         4       478.52
91        92  2023-07-03          82         9      1347.03
92        93  2023-05-21          49         8      2190.80
93        94  2023-07-14          72         6      1834.56
94        95  2023-12-05          69        10      1006.40
95        96  2023-06-03          93         4      1112.60
96        97  2023-06-26           6         4      1919.72
97        98  2023-07-16          67         8      2574.24
98        99  2023-06-22          79        10      4752.90
99       100  2023-04-02          31         2       994.78

In [83]:
pd.options.display.max_rows = 100

In [91]:
df_orders

    order_id  order_date  product_id  quantity  total_price
0          1  2023-07-13          24         9      3726.45
1          2  2023-02-08          75         1       182.71
2          3  2023-02-14           6         6      2879.58
3          4  2023-10-07          16         7      2218.37
4          5  2023-02-03         100        10      3540.80
5          6  2023-12-03          39         3       752.40
6          7  2023-02-26          10         9      3340.44
7          8  2023-02-11          80         4      1720.96
8          9  2023-09-02          72         6      1834.56
9         10  2023-10-11          33         6      1809.12
10        11  2023-03-23          39         5      1254.00
11        12  2023-03-28          96         8      1237.36
12        13  2023-05-06          73         3       978.15
13        14  2023-07-03          32         6      1147.68
14        15  2023-04-26          71         2       438.52
15        16  2023-01-15          42         3      1160.16
16        17  2023-04-24          19         2       796.72
17        18  2023-06-06          99         5      1336.75
18        19  2023-12-02           3         6       264.72
19        20  2023-08-21          62         8      1885.92
20        21  2023-11-11          44         7       837.41
21        22  2023-05-26          66        10      3132.90
22        23  2023-07-15          55         7       170.17
23        24  2023-05-11          41         5      1117.20
24        25  2023-09-13          72         2       611.52
25        26  2023-12-05          89         2       877.48
26        27  2023-08-23          45         3       431.91
27        28  2023-08-01          51         2       668.22
28        29  2023-02-02           2         3      1028.73
29        30  2023-08-04          23         1       314.41
30        31  2023-02-01          80         1       430.24
31        32  2023-12-09          16         7      2218.37
32        33  2023-11-11          19         1       398.36
33        34  2023-11-15          75         3       548.13
34        35  2023-08-18          12         1       113.02
35        36  2023-06-12           2         3      1028.73
36        37  2023-04-13          96        10      1546.70
37        38  2023-10-28          71         7      1534.82
38        39  2023-07-07          53         2       294.42
39        40  2023-08-26          98         6      2610.84
40        41  2023-04-25          10         3      1113.48
41        42  2023-03-02          50         2       190.54
42        43  2023-07-01          87         7      1988.63
43        44  2023-08-20          66         2       626.58
44        45  2023-11-01          40         8      3985.84
45        46  2023-01-13          53         8      1177.68
46        47  2023-08-08          63         9      2812.32
47        48  2023-06-24          41         9      2010.96
48        49  2023-11-25          81         2       247.74
49        50  2023-12-07          42         2       773.44
50        51  2023-03-03          67         7      2252.46
51        52  2023-08-03          90         5      2155.90
52        53  2023-01-14          96         3       464.01
53        54  2023-11-06          33         5      1507.60
54        55  2023-01-15           9         3      1154.88
55        56  2023-04-11          94         1       406.72
56        57  2023-01-28           7         1       171.67
57        58  2023-05-13          84         9       399.24
58        59  2023-04-28          16         4      1267.64
59        60  2023-08-08          23         4      1257.64
60        61  2023-12-22          34         3       641.58
61        62  2023-01-11          64         8      3969.68
62        63  2023-03-08          40         3      1494.69
63        64  2023-04-19          62         8      1885.92
64        65  2023-04-07          26         5      2179.15
65        66  2023-10-11          43         5       604.10
66        67  2023-03-17          75        10      1827.10
67        68  2023-03-10          47         5      2093.80
68        69  2023-09-14          20         3      1488.63
69        70  2023-12-03           2        10      3429.10
70        71  2023-02-04          53         3       441.63
71        72  2023-04-10          34         8      1710.88
72        73  2023-06-12          79         2       950.58
73        74  2023-02-24          18         5       116.45
74        75  2023-12-04          54         2       491.74
75        76  2023-06-20          27         8      3138.48
76        77  2023-03-27          54         3       737.61
77        78  2023-11-23          87         5      1420.45
78        79  2023-10-05          87         6      1704.54
79        80  2023-10-18          65         6      1047.48
80        81  2023-02-24          62         3       707.22
81        82  2023-03-24          90         1       431.18
82        83  2023-09-26          97         5      1899.75
83        84  2023-02-12          80         5      2151.20
84        85  2023-12-20           4         1        15.49
85        86  2023-10-21          85         2       927.70
86        87  2023-10-07          88         4      1398.64
87        88  2023-04-26          98        10      4351.40
88        89  2023-05-16          31        10      4973.90
89        90  2023-05-21          45         5       719.85
90        91  2023-10-13          44         4       478.52
91        92  2023-07-03          82         9      1347.03
92        93  2023-05-21          49         8      2190.80
93        94  2023-07-14          72         6      1834.56
94        95  2023-12-05          69        10      1006.40
95        96  2023-06-03          93         4      1112.60
96        97  2023-06-26           6         4      1919.72
97        98  2023-07-16          67         8      2574.24
98        99  2023-06-22          79        10      4752.90
99       100  2023-04-02          31         2       994.78

In [11]:
query2 = """select * from products;"""

In [15]:
df_products = pd.read_sql_query(query2, connection)

In [85]:
df_products

    product_id     product_name     category   price
0            1         ubaltprv    466.47
1            2          tDBDlti     342.91
2            3    SSoERVQYlXlXo           44.12
3            4    bSyPlTJrVTVEn      15.49
4            5           OUlXxH     451.51
5            6   dheuOSsoAYqmJz     479.93
6            7           nEGTIy       171.67
7            8   fSIziuZEOFPJii       268.26
8            9    tTmdXGPMNrTeg         384.96
9           10  KmAxMHrdShinJDw       371.16
10          11        LblRiqyJT       291.05
11          12   lPBcnnwcIYchcj       113.02
12          13  bCiTAZqqjcKvYWf         303.41
13          14          XLQiZXh    452.47
14          15    EQPiGonyhkocZ     172.81
15          16            gBsuy          316.91
16          17  dZfTIdcndVjrWsy     289.22
17          18           Elsvcn           23.29
18          19            oOkDI       398.36
19          20      ZoEVfNBQslG          496.21
20          21   gFQmmHPKGBlzRy          67.24
21          22            YKecC     332.94
22          23     rnYGyMejKjPU     314.41
23          24       YQgQAxnvUD     414.05
24          25  EKxrLfyddUGfwwd          225.95
25          26        sTDggtLsx         435.83
26          27           lPFYVx     392.31
27          28     BYNGLChRWGbm          51.63
28          29     svmFbSAabMqC     457.47
29          30    ElVUiCfsLOilM       351.11
30          31        WGFkbkDtb     497.39
31          32         CPvoBAYk         191.28
32          33       PAJwPDDXBR          301.52
33          34           updxJA         213.86
34          35   HcAfBIZKwWCiHs        97.95
35          36    QHQRqMyGljKhL         166.54
36          37     EraiGUgAxjgN          256.11
37          38  AbYrwxljXjRrBSa       174.68
38          39       AvkzPDFttb     250.80
39          40           viTUxb    498.23
40          41         PHGqdLsP     223.44
41          42  TSqNNctcCocmUdT    386.72
42          43          sunRXVd       120.82
43          44   eINbRkwCvRAAfm         119.63
44          45            Zkuzr       143.97
45          46  icROydWrkoaaidx    324.14
46          47          yMOOTYo         418.76
47          48            vkzEL       293.00
48          49    IgRHhHkLsPqlI       273.85
49          50         Gcpbslkp          95.27
50          51   ejEOVRytcwqLSq         334.11
51          52    CyRDwJTgGlzpZ       330.39
52          53       ycjDbiNigN    147.21
53          54            SSukq          245.87
54          55        deRQJdITJ     24.31
55          56          oNSGSCs    256.69
56          57         lVqIvHFJ       106.81
57          58     GZkpZCDITdmU          25.21
58          59  yvGnHTWzrTDkOSu    460.26
59          60     pEoqssZzUolT     91.72
60          61           QDDwLn          378.07
61          62        XNtKWqcoz       235.74
62          63       TNRaSJlebb       312.48
63          64    sXNwHwoCZqPYz    496.21
64          65          wUylHRQ    174.58
65          66            FVYpC    313.29
66          67            xeIWm          321.78
67          68          BjViLkS           33.58
68          69         poGcCluM         100.64
69          70  xbAnMZdcYHKrcXA       357.68
70          71            jpCAa    219.26
71          72  qmvhiVubdsrjVjW         305.76
72          73      rkLCkfUutkk       326.05
73          74      OosKGkSGJcO    356.08
74          75         TIJiEOeS          182.71
75          76     ImECTUYcqSQd     339.61
76          77     ZJjQqLqSsNNf      20.49
77          78   tuUtaZGFqZXtLV     107.93
78          79   GQdzfWHocgCfAy     475.29
79          80         aoAXtVPP       430.24
80          81          FpQHCWe    123.87
81          82     SLNdhhcrxSJZ    149.67
82          83         MeFlPcYo           38.96
83          84          zsVzDtH           44.36
84          85       WBGPcViSXF       463.85
85          86      FvqylYvmtcK          140.26
86          87  VnAYxuQnzvstPBx     284.09
87          88          ryvEGuC    349.66
88          89   rFeLDFAruuJImM    438.74
89          90            Spxby       431.18
90          91        dmGBRQdUK          354.92
91          92           zKfkyZ          441.16
92          93        yQSIuhlGf    278.15
93          94     xVgdSaytGNzh       406.72
94          95      UToniUVWbte           81.19
95          96   HFvpNNVhmAUgDZ       154.67
96          97   XEQvMgAJbTvjul    379.95
97          98         jgwNeIfv    435.14
98          99       JQKpoVuMNj       267.35
99         100          TBvydjC          354.08

In [70]:
most_orders = df_orders.groupby('product_id').agg({'quantity': 'sum'}).sort_values('quantity', ascending=False).reset_index()

In [71]:
most_orders

    product_id  quantity
0           96        21
1           62        19
2           87        18
3           16        18
4            2        16
..         ...       ...
57          50         2
58           7         1
59          94         1
60           4         1
61          12         1

[62 rows x 2 columns]

In [38]:
max_quantity = most_orders['quantity'][0]

In [40]:
product_id_w_max_quantity = most_orders['product_id'][0]

In [41]:
max_quantity

21

In [42]:
product_id_w_max_quantity

96

In [46]:
most_popular_product = df_products.loc[df_products['product_id'] == product_id_w_max_quantity, 'product_name']

In [50]:
most_popular_product.reset_index()

   index    product_name
0     95  HFvpNNVhmAUgDZ

In [74]:
df_orders['total_price'].sum()

145545.38999999998

In [53]:
from scipy.stats import mannwhitneyu

algorithm_a_times = [3.2, 5.1, 4.3, 6.7, 7.9, 4.8, 5.6, 6.2, 5.9]
algorithm_b_times = [2.9, 4.5, 6.1, 5.8, 4.2, 5.3, 4.7, 6.5, 6.8]

#   -
statistic, p_value = mannwhitneyu(algorithm_a_times, algorithm_b_times, alternative="two-sided")

#       0.05
alpha = 0.05

#  p-   
if p_value < alpha:
    print("  :       .")
else:
    print("   :       .")

   :       .

In [54]:
statistic

46.0

In [56]:
p_value.round(2)

0.66

In [57]:
df_orders

    order_id  order_date  product_id  quantity  total_price
0          1  2023-07-13          24         9      3726.45
1          2  2023-02-08          75         1       182.71
2          3  2023-02-14           6         6      2879.58
3          4  2023-10-07          16         7      2218.37
4          5  2023-02-03         100        10      3540.80
..       ...         ...         ...       ...          ...
95        96  2023-06-03          93         4      1112.60
96        97  2023-06-26           6         4      1919.72
97        98  2023-07-16          67         8      2574.24
98        99  2023-06-22          79        10      4752.90
99       100  2023-04-02          31         2       994.78

[100 rows x 5 columns]

In [59]:
df_orders['quantity'].max()

10

In [60]:
df_products

    product_id    product_name     category   price
0            1        ubaltprv    466.47
1            2         tDBDlti     342.91
2            3   SSoERVQYlXlXo           44.12
3            4   bSyPlTJrVTVEn      15.49
4            5          OUlXxH     451.51
..         ...             ...          ...     ...
95          96  HFvpNNVhmAUgDZ       154.67
96          97  XEQvMgAJbTvjul    379.95
97          98        jgwNeIfv    435.14
98          99      JQKpoVuMNj       267.35
99         100         TBvydjC          354.08

[100 rows x 4 columns]

In [61]:
df_products.query('product_name == "XNtKWqcoz"')

    product_id product_name  category   price
61          62    XNtKWqcoz    235.74

In [62]:
df_products.query('product_name == "VnAYxuQnzvstPBx"')

    product_id     product_name    category   price
86          87  VnAYxuQnzvstPBx    284.09

In [68]:
df_products.loc[df_products['product_name'] == 'VnAYxuQnzvstPBx']

    product_id     product_name    category   price
86          87  VnAYxuQnzvstPBx    284.09

In [73]:
df_orders.query('product_id == 96').value_counts('quantity')

quantity
3     1
8     1
10    1
dtype: int64

In [76]:
df_common = df_orders.merge(df_products, how='outer')

In [77]:
df_common

,order_id,order_date,product_id,quantity,total_price,product_name,category,price
0,1.0,2023-07-13,24,9.0,3726.45,YQgQAxnvUD,,414.05
1,2.0,2023-02-08,75,1.0,182.71,TIJiEOeS,,182.71
2,34.0,2023-11-15,75,3.0,548.13,TIJiEOeS,,182.71
3,67.0,2023-03-17,75,10.0,1827.10,TIJiEOeS,,182.71
4,3.0,2023-02-14,6,6.0,2879.58,dheuOSsoAYqmJz,,479.93
...,...,...,...,...,...,...,...,...
133,NaN,NaN,83,NaN,NaN,MeFlPcYo,,38.96
134,NaN,NaN,86,NaN,NaN,FvqylYvmtcK,,140.26
135,NaN,NaN,91,NaN,NaN,dmGBRQdUK,,354.92
136,NaN,NaN,92,NaN,NaN,zKfkyZ,,441.16
137,NaN,NaN,95,NaN,NaN,UToniUVWbte,,81.19

In [80]:
df_common['real_t_sum'] = df_common['price'] * df_common['quantity']

In [82]:
df_common['real_t_sum'].sum()

145545.39